form {
  width: 600px;
  margin: auto;
}
.button {
  text-align: center;
  margin: 0 auto;
}
button {
  font-size: 20px;
  width: 200px;
  height: 50px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 0 30px;
}

h1 {
  text-align: center;
}
input[type="text"],
textarea,
select {
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgba(118, 123, 204, 0.5);
}
.item {
  margin-top: 20px;
}
span {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
